{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Kitan </title>
  <link rel="stylesheet" href="{% static 'cordarapp/css/fontawesome.min.css'%}">
  <link rel="stylesheet" href="{% static 'cordarapp/css/style.css'%}">
  <!-- fontawesome -->
  <script src="{https://kit.fontawesome.com/8ff1635e34.js}" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'cordarapp/css/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'cordarapp/css/style.css' %}">




</head>

<body>
  <!-- header start -->
  <header class="header js-header">
    <div class="container">
      <div class="logo"><a href="#"> Kitan <span>Cleaning Service</span></a></div>
      <button type="button" class="nav-toggler js-nav-toggler">
        <span></span>
      </button>
      <nav class="nav js-nav">
        <ul>
          <li><a href="{% url 'cordarapp:home'%}">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="{% url 'cordarapp:services'%}">Services</a></li>
          <li><a href="{% url 'cordarapp:pricing'%}">Pricing</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'usersapp:logout'%}">logout</a></li>
          <li>we</li>
          {% else %}
          <li> <a style="color: blue;" href="{% url 'usersapp:register'%}">register</a></li>

          <li> <a style="color: red;" href="{% url 'usersapp:login'%}">login</a></li>

          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
  <!-- header ends -->


  <!-- home section start -->
  <section class="home" id="home">
    <div class="container">
      <div class="grid">
        <div class="home-text">
          <h1>need cleaning services ?</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam cupiditate fugit nobis
            officia voluptate nostrum!</p>
          <div class="btn-wrap">
            <a href="#about" class="btn">Know More</a>
          </div>
        </div>
        <div class="home-img">
          <div class="circle-wrap">
            <div class="circle"></div>
          </div>
          <img src="{% static 'cordarapp/images/cleaner-removebg-preview.png'%}" alt="img">
        </div>
      </div>
    </div>
  </section>
  <!-- home section ends -->
  {% block content %}





  {% endblock %}
  <!-- footer start -->
  <div class="footer">
    <div class="container">
      <h3>follow us</h3>
      <div class="social-links">
        <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" title="instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" title="youtube"><i class="fab fa-youtube"></i></a>
      </div>
      <p class="copyright">copyright@david-ogundeji</p>
    </div>
  </div>
  <!-- footer ends -->

  <script src="{%static 'cordarapp/js/main.js'%}"></script>
</body>

</html>